<nav role="navigation">
  <ul>
    <li class="quicklink">
      <div class="rss"><a href="/rss.html" title="Subscribe via RSS"><span class="fa fa-lg fa-rss"></span></a></div>
    </li>
    <li class="main-nav"><a href="/">Home</a></li>
    <li class="main-nav"><a href="/pages/faq.html">FAQ</a></li>
    <li class="main-nav"><a href="/pages/library.html">Library</a></li>
    <li class="main-nav"><a href="/pages/about.html">About</a></li>
    <li class="main-nav"><a href="/pages/support.html">Support</a></li>
    <li class="main-nav"><a href="/pages/research.html">Research</a></li>
    <li class="main-nav"><a href="/pages/webwork.html">WeBWorK</a></li>
  </ul>
</nav>
